:root {
    --black: rgb(71, 71, 71);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Montserrat, verdana, arial, sans-serif;
}

body {
    width: 100%;
    color: var(--black);
    background-image: url("/assets/img/bocage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    margin-top: 1rem;
    font-size: 2.5rem;
    justify-content: center;
}

a {
    text-decoration-line: none;
}

/*
 * Error
 */

/*
 * php
 */
.error {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    background-color: #d35447;
    color: white;
    font-size: 1.3rem;
}

#close {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: transparent;
    border: 1px solid #953f35;
    padding: 0.3rem 0.5rem;
    font-size: 1.3rem;
    color: white;
}

#close:hover {
    cursor: pointer;
}

/*
 * 404
 */
div.error_page {
    text-align: center;
    padding: 1rem;
    display: block;
    width: 70rem;
    max-width: 90%;
    border-radius: 10px;
    margin: 1rem auto;
    color: #e09700;
}

.error_page h1 {
    color: var(--black);
    display: inline-block;
    width: 22rem;
    background: linear-gradient(190deg, #e2be77 0%, #e09700 100%);
}

/*
 * Navbar
 */

header,h1 ,header div, .menu ul, .menu ul a, #band, #band a, .flex {
    display: flex;
}

header {
    font-size: 1.2rem;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #f8f9fa;
    color: gray;
}

header div {
    align-items: center;
}

header div > span {
    margin-left: 1rem;
}

span.menu {
    font-size: 1.5rem;
    display: none;
}

a.menu {
    font-size: 1.5rem;
}

.menu ul {
    list-style-type: none;
    align-items: flex-end;
}

.menu ul a {
    text-align: center;
    height: 5rem;
    align-items: center;
    justify-content: center;
    width: 10rem;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    color: gray;
    font-weight: bold;
    padding: 3rem 0;
    transition: border-bottom-color 300ms;
}

ul li:nth-child(1) a{
    border-bottom-color: #e09700;
    color: #e09700;
}

ul li:nth-child(1) a:hover {
    border-bottom-color: rgba(224, 151, 0, 0.70);
    color: rgba(224, 151, 0, 0.70);
}

ul li:nth-child(2) a {
    border-bottom-color: #07819c;
    color: #07819c;
}

ul li:nth-child(2) a:hover {
    border-bottom-color: rgba(7, 129, 156, 0.70);
    color: rgba(7, 129, 156, 0.70);
}

ul li:nth-child(3) a {
    border-bottom-color: #d54398;
    color: #d54398;
}

ul li:nth-child(3) a:hover {
    border-bottom-color: rgba(213, 67, 152, 0.70);
    color: rgba(213, 67, 152, 0.70);
}

ul li:nth-child(4) a {
    border-bottom-color: #4ea392;
    color: #4ea392;
}

ul li:nth-child(4) a:hover {
    border-bottom-color: rgba(78, 163, 146, 0.70);
    color: rgba(78, 163, 146, 0.70);
}

ul li:nth-child(5) a {
    border-bottom-color: #a2c31b;
    color: #a2c31b;
}

ul li:nth-child(5) a:hover {
    border-bottom-color: rgba(162, 195, 27, 0.70);
    color: rgba(162, 195, 27, 0.70);
}

#logoUser {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    margin: 2rem;
    min-width: 2rem;
}

#logoUser img {
    max-width: 100%;
}

#logout {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    margin: 2rem;
    min-width: 2rem;
    color: red;
}

/*
 * Activity preview
 */
.content {
    flex-wrap: wrap;
    justify-content: center;
}

.preview_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.activity_preview {
    border: 5px solid gray;
    border-radius: 20px;
    width: 30rem;
    margin: 1rem;
}

span.circle {
    font-size: 1.2rem;
    border: 1px solid gray;
    border-radius: 50px;
    padding: 1rem 1rem;
}

.activity_preview h2 {
    display: inline-block;
}

.activity_preview .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.small-image {
    width: 89%;
    height: 20rem;
    margin: 1rem auto;
    background-size: cover;
}

/*
 * home
 */
#band {
    background-image: url("/assets/img/ados-saut.png");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 5vh 0;
    justify-content: space-evenly;
}

#band div {
    width: 22vw;
    padding-bottom: 22vw;

    background-size: contain;
}

#band a:nth-child(1) div {
    background-image: url("/assets/img/bubble/bubble_blue1.png");
    align-self: flex-end;
}

#band a:nth-child(2) div {
    background-image: url("/assets/img/bubble/bubble_pink.png");
}

#band a:nth-child(3) div {
    background-image: url("/assets/img/bubble/bubble_blue2.png");
    align-self: flex-end;
}

#band a:nth-child(4) div {
    background-image: url("/assets/img/bubble/bubble_green.png");
}

.grow {
    animation-name: bursts;
    animation-duration: 2s;
}

@keyframes bursts {
    to {
        width: 100vh;
        height: 100vh;
    }
}

/*
 * title
 */

.white {
    background-color: white;
}

#homeTitle {
    height: 53vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: cursive, sans-serif;
}

h1 {
    align-items: baseline;
}

#title span:first-child {
    margin: 0 2rem;
    font-size: 5vh;
}

/*
 * Activity
 */

#activity, #toolbox, #profile, #userList {
    width: 90%;
    margin: 3rem auto;
    padding: 3rem;
}

#activity article {
    border: 5px #d54398 solid;
    border-radius: 20px;
}

#activity article > div {
    flex-basis: 50%;
    margin: 1rem;
}

.big-image {
    border: 1px solid gray;
    height: 80vh;
}

#description {
    flex-direction: column;
    font-size: 2rem;
}

#top-activity {
    text-align: center;
    flex-basis: 10%;
}

#all-reaction, .user-reaction {
    justify-content: center;
}

.user-reaction, #all-reaction div {
    margin: 1rem;
}

#content-activity {
    flex-basis: 80%;
    flex-direction: column;
    justify-content: space-evenly;
}

#content-activity p {
    margin: 1rem 0;
}

.user-reaction img, #all-reaction img {
    height: 3vw;
}

/*
 * Connection / Inscription
 */

.connection_register {
    margin: 2rem auto;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 90%;
    width: 100rem;
    border: 5px solid #e09700;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    align-items: center;
}

.connection_register h2 {
    font-size: 2rem;
}

#connection, #register {
    width: 40%;
}

.connection_register input {
    display: block;
    margin: 1rem;
    padding: 0.5rem 0.8rem;
    width: 100%;
}

.connection_register input:not([type=submit]):focus {
    outline: 2px solid #e09700;
}

.connection_register input[type=submit] {
    border: none;
    background-color: #e09700;
    color: #f8f9fa;
}

/*
 * toolbox
 */

#toolbox > div {
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f8f9fa;
    border: 5px #a2c31b solid;
    text-align: center;
    font-size: 1vw;
    border-radius: 20px;
}

#toolbox a {
    flex-basis: 45%;
    margin: 2rem;
    background-color: #a2c31b;
    justify-content: center;
}

#toolbox img {
    width: 78%;
}

/*
 * profile
 */

#profile {
    flex-direction: column;
    align-items: center;
}

#profile > div {
    width: 100%;
    border: 5px #000 solid;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
}

#profile-content {
    width: 100%;
    justify-content: space-evenly;
}

#profile-content h3 {
    margin: .5rem 0;
}

#profile-content div, #admin div {
    padding: .5rem;
}

#user-reaction a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}

#profile-content a img {
    width: 3vw;
}

#user-data p {
    margin: .5rem 0;
}

#profile-content > div {
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

#user-reaction {
    flex-direction: column;
    align-items: center;
}

.buton a {
    display:block;
    border-radius: 20px;
    width:100px;
    line-height:50px;
    text-align:center;
    vertical-align:middle;
    background-color: black;
    color:white;
    text-decoration:none;
}

/*
 * user list
 */
#userList {
    justify-content: center;
}

.list {
    flex-direction: column;
}

.frame {
    border: 5px #000 solid;
    border-radius: 20px;
    margin: 1rem;
    padding: 1rem;
}


/*
 * RESPONSIVE
 */

/*
 * menu
 */

@media screen and (max-width: 860px){
    div.menu {
        display: none;
    }

    span.menu {
        margin: 0 2rem 2.5rem 0;
        display: inline-block;
    }

    div.menu {
        position: absolute;
        z-index: 10;
        right: 5px;
        top: 5rem;
        width: 10rem;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        width: 100%;
        justify-content: center;
        background-color: #f8f9fa;
    }
}

@media screen and (max-width: 700px){
    .connection_register {
        flex-direction: column;
    }

    #connection, #register {
        width: 80%;
    }
}